.bg-color {
  background-color: gray;
}

.btn {
  width: 64px;
  height: 64px;
  font-size: 28px;
  font-weight: bold;
}

#display {
  width: 266px;
  height: 64px;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
}
